[submodule "client"]
	path = client
	url = https://github.com/3imed-jaberi/hospital-management-mobile-app.git
[submodule "server"]
	path = server
	url = https://github.com/3imed-jaberi/hospital-management-backend.git
